
<% @title = 'Edit lecture schedule' %>

<h3>Edit lecture schedule</h3>

<script type="text/javascript">
  function pickDatesForm(id) {
    // Note that we need some CSS such as div.ui-datepicker { z-index: 1000; }
    // or the datepicker will show up behind the edit form.
    jQuery(id).datepicker({dateFormat:"yy-mm-dd"});
  }
</script>


<%= jqgrid("Lecture schedule", "lectures_grid", edit_course_lectures_path(@course),
  [
    { :field => "id", :label => "ID", :sortable => false, :hidden => true },
    { :field => "number", :label => "Lecture number", :sortable => false, :editable => true },
    { :field => "lecture_dates_string", :label => "Dates", :sortable => false, :editable => true,
      :editoptions => { :dataInit => "js:pickDatesForm" } },
    { :field => "topics", :label => "Topics", :width => 400, :sortable => false, :editable => true,
      :edittype => "textarea", :editoptions => { :rows => 5, :cols => 50 } },
    { :field => "readings", :label => "Readings", :width => 400, :sortable => false, :editable => true,
      :edittype => "textarea", :editoptions => { :rows => 5, :cols => 50 } },
  ],
  { :autowidth => true, :height => "350", :rows_per_page => @course.lectures.size, :add => true,
    :edit => true, :inline_edit => false, :delete => true, :pager => false,
    :edit_url => update_course_lectures_path(@course), :edit_dialog_width => 500 }
) %>

