
<% @title = 'Edit readings' %>

<h3>Edit readings</h3>

<% readings = Reading.find(:all) %>

<% form_for @course, :url => course_readings_path(@course), :html => { :id => 'course_readings' } do |form| %>
  <%= render_blurb_edit_form 'readings', @blurb %>
  <br/>
  <br/>
  Current readings:<br/><br/>
  <%= render :partial => "course_reading", :collection => @course.course_readings, :locals => { :readings => readings } %>
<% end %>

<script>
  function remove(id)
  {
    var formDiv = document.getElementById('course_readings');
    var child = document.getElementById(id);
    if (formDiv) formDiv.removeChild(child);
  } 
</script>

