
<% @title = 'Edit lecture notes' %>

<h3>Edit lecture notes</h3>

<% form_for @course, :lecture_notes, :url => course_lecture_notes_path(@course),
            :html => { :id => 'course_lecture_notes', :multipart => true } do |form| %>
  <%= form.error_messages %>
  <%= render_blurb_edit_form 'lecture_notes', @blurb %>
  <table class="fileform">
    <thead>
      <tr><th>#</th><th>Topic</th><th>Label</th><th>Filename</th><th>File upload</th></tr>
    </thead>
    <tbody id="lecture_notes_table">
      <%= render :partial => "file", :collection => @file_list %>
    </tbody>
  </table>
  <%= form.submit "Update lecture notes" %>
<% end %>

<script>
  function remove(id)
  {
    var formDiv = document.getElementById('lecture_notes_table');
    var child = document.getElementById(id);
    if (formDiv && child) formDiv.removeChild(child);
  } 
</script>

