
<% @title = 'Edit course' %>

<h3>Edit course info</h3>

<% form_for(@course) do |form| %>
  <%= render :partial => "course_form_fields", :locals  => { :form => form } %>
  <p>
    <%= form.submit 'Update' %>
  </p>
<% end %>
